[submodule "vim/addons/vim-addon-manager"]
	path = vim/addons/vim-addon-manager
	url = https://github.com/MarcWeber/vim-addon-manager.git
[submodule "vim/bundle/vundle"]
	path = vim/bundle/vundle
	url = https://github.com/gmarik/vundle.git
[submodule "zsh/dircolors"]
	path = zsh/dircolors
	url = https://github.com/huyz/dircolors-solarized
