# vi: ft=systemd
[Unit]
Description=Goreman

[Service]
ExecStart=/home/naspeh/bin/goreman -logtime=false -exit-on-error -f /home/naspeh/dotfiles/x11/Procfile start

[Install]
WantedBy=default.target
