# vi: ft=systemd
[Unit]
Description=Goreman

[Service]
ExecStart=/home/naspeh/bin/goreman -f /home/naspeh/dotfiles/Procfile start

[Install]
WantedBy=default.target
